[submodule "lib/py-shroud"]
	path = lib/py-shroud
	url = https://github.com/NiklasRosenstein/py-shroud.git
[submodule "lib/py-localimport"]
	path = lib/py-localimport
	url = https://github.com/NiklasRosenstein/py-localimport
